// Place all the styles related to the cube controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: #add8e6;
}

.settings {
  float: right;
  text-align: right;
}
